# Dependencies
node_modules/

# Build
dist/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env*.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# TypeScript
*.tsbuildinfo
